body{
	background-color: #f0f0fa;
}
.head{	
    background: #f5f8ff; 
}
.head>img{
	width: 100%;
	height: 5rem;
}
.scan{
	text-align: center;
}
.scan img{
	width: 24%;
}
.scan p{
	padding-top: 10px;
	padding-bottom: 20px;
	color: #707070;
}
.contactWay{
	background-color: #fff;
	border: 1px solid #e1e1e1;
}
.contactWay .con {
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 6%;
	overflow: hidden;
}
.contactWay .conL{
	display: inline-block;
	color: #a9a9a9;
	font-size: 1.1rem;
}
.contactWay .conR{
	display: inline-block;
    float: right;
    color: #126fa6;
    width: 74%;
    text-align: right;
}