.buttonSetting .DialogWindow{
	text-align: center;
	margin: 32px 0 12px 24px;
	border-bottom: 1px solid #e0e0e0;
}
.DialogWindow>span{
	padding: 5px;
	float: left;
	border:1px solid transparent;
	cursor: pointer;
	margin: 0 8px 15px 0;
}
.DialogWindow>span.active{
	border:1px solid #1c9ae3;
	border-radius: 5px;
}
.DialogWindow input{
	position: relative;
	height:32px;
	color:#fff !important;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	width: 140px;
	background: #1c9ae3;
}
.DialogWindow span.graphBtn{
	position: relative;
}
.DialogWindow span.graphBtn i{
	position: absolute;
	top: 14px;
	left: 33px;
	z-index: 9;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../../src/component/imgs/breakImg.png) no-repeat;
}
.DialogWindow span.graphBtn input{
	padding-left: 26px;
}
.DialogWindow span.opacBtn input{
	background-color: transparent;
	color:#a8a8a8;
	border-color:#527990;
	border-style:dashed;
	border-width:1px;
}
.DialogWindow span.opacBtn input:focus{
	border: 1px dashed #527990 !important;
}
.DialogWindow span.jianbianBtn,.DialogWindow span.opacBtn{
	margin-right:0;
	margin-left:0;
}
.DialogWindow span.jianbianBtn input{
	background:-moz-linear-gradient(top, #79cdff, #1d9be3);
	background:-o-linear-gradient(top, #79cdff, #1d9be3);
	background:-webkit-linear-gradient(top, #79cdff, #1d9be3);
	background:linear-gradient(top, #79cdff, #1d9be3);
	border:none;
}
#font_type_select{
	position: relative;
}
#font_type_select .before{
	content: "";
    display: table;
    clear: both;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../../../src/component/imgs/T.png) no-repeat 12px center;
}
#fontConfig{
	position: relative;
	width: 152px;
    border: 1px solid #1c9ae3;
    position: absolute;
    top: 40px;
    z-index: 9999;
    background-color: #fff;
    left: -69px;
    border-radius: 4px;
    padding: 5px 20px;
    height: 36px;
}
#fontConfig i{
	text-align: center;
	margin-left:15px;
	padding: 6px;
	padding-bottom: 0;
	width: 10px;
	display:inline-block;
	cursor: pointer;
}
#font_color .c-colorWrapper{
	width:54px;
}
#fontConfig img{
	margin-left:0;
}
#fontConfig i.active{
	border-bottom:1px solid #1d9be3;
}
#fontConfig select,.btnLink select{
	width: 80px;
    height: 24px;
    margin-left: 10px;
    -webkit-appearance: none;
    padding-left: 6px;
    border:1px solid #cccccc;
    background: white url(../../../src/component/imgs/select_arrow.png) no-repeat right center;
}
.btnLinkChoose select,.btnLink select{
	width:178px;
	height:32px;
	line-height: 32px;
	margin-left:0;
}
.commonSelect{
	border:1px solid #c4c4c4;
	border-radius: 4px;
	color:#c4c4c4;
}
#fontConfig option{
	height:24px;
	line-height: 24px;
	border:1px solid #cccccc;
}
.form-control{
	padding: 6px 10px;
	color:#c4c4c4;
	border:1px solid #c4c4c4;
	border-radius: 4px;
}
/* .c-colorWrapper{margin-right: 10px;} */
#groupSkin{border-bottom: 1px solid #e0e0e0;}
.label_slide{height: 32px;line-height: 32px;}
#tipsDialog .picStyleSel{width: 92%;margin: 0 auto;border-bottom: 1px solid #d3dce6;}
#tipsDialog .picStyleSel li{display: inline-block;padding: 13px 0; width: 100px;text-align: center;cursor: pointer;}
#tipsDialog .picStyleSel li.sel{color:#1c9ae3;border-bottom: 2px solid #1c9ae3;}
.btnDialog .pic_thumb{position: relative;width:81px;height:81px;line-height: 81px;}
.btnDialog #userpic_file_upload{width: 81px;height: 81px;}
.btnDialog #uploadifive-file_upload_pic{width: 77px;height: 77px;}
.btnDialog #uploadifive-file_upload_pic .uploadifive-button{margin-top: 17px;height: 40px;}

 .picBut{
 	background-image: url(http://122.224.218.61:8001/group1/M00/00/62/wKgCClmb5peAf64dAAAFW_3kyGY124.png);
 	background-repeat: no-repeat;
 	background-size: 20px 20px;
 	background-position: 10% center;
 }

 .picButFast li{
 	display: inline-block;
 	float: left;
 	margin-right: 8px;
 	border-radius: 5px;
 	width: 40px;
 	height: 40px;
 	background: #1c9ae3;
 	text-align: center;
 	line-height: 40px;
 	cursor: pointer;
 }
 .picButFast li img{
 	vertical-align: middle;
 }