.popUp{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background-color: rgba(0,0,0,.6);
	display: none;
    z-index: 999;
}
.popUp_box{
	background-color: #fff;
	min-height: 24px;
	position: absolute;
	width:420px;
	left:50%;
	margin-left:-180px;
	top:10%;
	text-align: center;
	padding-bottom:20px; border-radius: 6px; cursor: pointer;
}
.pop_btn{
	height: 32px;
    line-height: 32px;
    border: none;
    width: 20%;
    border-radius: 5px;
    color: #fff;
    margin-left: 5%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: #BDC7D4;
    display: inline-block;
    cursor: pointer;
}
.pop_title{
    border-bottom: 1px solid #d3dce6;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #fff;
    padding: 10px 16px;
    color:#475669;
    text-align: left;
    font-size: 1.1em; font-weight: bold;
}
.pop_content{
    margin: 24px auto 10px;
    text-align: center; color: #617084;
}
.pop_content{
	width:80%;
}
.pop_foot{
    margin: 0 auto 10px;
    text-align: right;
    width:80%;
}
.pop_foot span{ display: inline-block; margin:0 2%; width: 80px; padding: 6px 0; border-radius: 6px; text-align: center;}
.pop_confirm{
	background-color:#57a2d6; 
    color: #fff;
    border:1px solid #57a2d6;
}
.pop_cancel{
    border:1px solid #8492a6;
    color: #475669;
}
.popNum{
    display: inline;
    padding:6px;
    min-width:32px;
    max-width:48px;
    border: 1px solid #ccc!important;
    border-radius: 4px;
}
.changeNum span{ padding: 0 40px 20px 0; display: inline-block;}

.lineIl{ display: inline-block; vertical-align: top; line-height: 40px;}
span.lineIl{ padding-left: 10px;}

.cut{ float: right; margin-top: 3px; cursor: pointer;}
