*{ margin: 0; padding: 0; list-style: none; font-size: 14px; font-family: "microsoft yahei"; color: #656565;}
body,html{ background: #eef2f7; position: relative;}
.hide{ display: none;}

#menu {
	width:100px; 
	height: 170px;
	top:0;
	left:0;
	position: absolute; 
	display: none;
	background: #fff; opacity: .9; padding: 4px 0; z-index: 101; display: none;
}
#menu a{ display: block; padding-left: 12px; line-height: 30px; cursor: pointer;}
#menu a i{width: 16px;
    height: 16px;
    display: inline-block; margin-top: 8px; margin-right: 4px;
    background: url(imgs/right_content.png) no-repeat -56px -133px; vertical-align: top;}
#menu a.copy i{ background-position: -56px -133px;}
#menu a.paste i{ background-position: -105px -133px;}
#menu a.dele i{ background-position: -155px -133px;}
#menu a.top i{ background-position: -203px -133px;}
#menu a.bottom i{ background-position: -252px -133px;}
#menu a:hover{ background: #f2f2f2;}
#menu dt{ border-top: 1px solid #eee; padding-top: 4px; margin-top: 4px;}

/*#banner{ width: 200px; height: 50px; z-index: 1; background: #fff;}
#intro{ width: 200px; height: 50px; z-index: 1; background: #fff;}*/

.normal{ border: 1px solid #bbb; z-index: 3;}
.active{ border: 1px solid red;}