.hotRecommend{margin-top:10px;}
.hotRecommend .recoTitle{width: 100%;text-align: center;background-size: 100% 100%;}
.hotRecommend .titleEchelon{height: 40px;line-height: 40px;margin: 0 auto;color: #fff;font-size: 1rem;}
.hotRecommend .refProduct{padding: 20px 4%;background-color: #fff;}