
.newProduct{
	background-color: #fff;
}
.newProduct .titlebg{
	width: 100%;
	text-align: center;
	background-size: 100% 100%;    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 15px;
}
.newProduct li{
	float: left;
    width: 28%;
    margin-left: 4%;
    margin-top: 20px;
    padding-bottom: 12px;
    position: relative;
}
.newProduct li img{
	width: 100%;
    height: 100px;
}
.newProduct li .produName{
	position: absolute;
    left: 0;
    bottom: 0;
    background: #116ba4;
    padding: 4%;
    color: #fff;
    width: 92%;
    text-align: center;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 18px;
}

.newProduct .hotNominate{
	margin-bottom: 20px;
	background-color: #fff;
}
.newProduct .titleEchelon {
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color: #fff;
    font-size: 1rem;
}
.newProduct .nominate{
	margin-top: 20px;
	position: relative;
}
.newProduct .nominate li{
	float: left;
    width: 28%;
    margin-left: 4%;
    padding-bottom: 12px;
}
.newProduct .nominate li img{
	width: 100%;
    height: 86px;
}
.newProduct .nominate li .produName{
	display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: #116ba4;
    padding: 1%;
    color: #fff;
    width: 26%;
    text-align: center;
}