.picText2 .mien{color: #808080;text-indent: 2em;line-height:1.5;}
.picText2 .picShow,.picText2 .picShow ul{overflow:hidden;}
.picText2 .comContainer{padding: 4%;overflow:hidden;}
.picText2 .comContainer .conTop{overflow:hidden;}
.picText2 .comContainer .scrollLeft{width: 6%;vertical-align: middle;	}
.picText2 .comContainer .scrollRight{width: 6%;vertical-align: middle;float: right;}
.picText2 .comContainer .conTop>img{width: 35%;float: left;}
.picText2 .comContainer .conTop .cpanyInfor{width: 61%;float: left;color: #838383;text-indent: 2em;line-height: 1.5;padding-left: 4%; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;text-align: justify;}
.picText2 .comContainer .conTop .conHistory{width: 60%;float: right;line-height: 1.2rem;padding-left: 10px;}

.picText2 .picShow li{float: left;width: 28%;height:53px;margin-left: 4%;padding-bottom: 12px;}
.picText2 .picShow li img{width: 100%;height:100%;}