#previewPop{ width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 999;
    display: none;
}

.previewPopInit{ background: url(../../imgs/previewPop.png); width: 800px; height: 600px; position: absolute; left: 50%; 
margin-left: -400px; background-size: 100% 100%; top: 50%; margin-top: -300px;}
.previewPopInit .previewLeft{     padding: 32px 90px 50px 30px;
    float: left;
    width: 308px;
    height: 528px;
    background: none;
    position: relative;
    cursor: default;
    pointer-events: none;
}
.previewPopInit .previewLeft>div{ position: relative; width: 100%; height: 528px; overflow: hidden; background: #fff; 
cursor: default; pointer-events: none;}
.previewPopInit .r{ float: right; width: 350px; position: relative; height: 600px;}
.previewPopInit .r .cut{ background: url(../../imgs/close.png); width: 15px; height: 16px; position: absolute; right: 70px;
top: 86px; display: block; cursor: pointer;}
.previewPopInit .r .cut:hover{ background-position: 0 -16px;}


.previewPopInit .qrcode{ border: 1px solid #e0e0e0; padding: 20px; width: 200px; height: 200px; margin-top: 140px;}
.previewPopInit .blueBtn{     width: 120px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background: #20a0ff;
    display: inline-block;
    margin: 40px 0 0 60px;
    padding: 0; cursor: pointer;
}

/*发布*/
#pblBox{
    padding:30px 0 0;
}
#pblBox span{ display: block;}
#pblBox input{
     display: block;  width: 160px; border-radius: 4px; border: 1px solid #d3dce6; height: 30px; 
line-height: 30px; padding: 0 8px; margin-top: 10px; float: left;
}
#pblBox .blueBtn{ float: left; margin: 10px 0 0 -4px; width: 70px; cursor: pointer;}
.pblTipBox{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
    display: none;
    z-index: 999;
}
.pblTip{height: 74px; line-height: 74px; background: #fff; border-radius: 6px; color: #617084; width: 250px;
left: 50%; margin-left: -125px; top: 50%; margin-top: -37px; position: absolute; text-align: center;}

.skyHeader{ background: url(../../imgs/titleBk.png); background-size: 100% 100%; width: 100%;     text-align: center;
    color: #fff;
    padding-top: 15px;
    height: 40px;
    line-height: 40px; font-size: 16px;
}
.skyHeader span{width: 230px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 auto;display: inline-block;}
.publishBox li.pblErr{ padding-bottom: 0; display: none;}
#errMsg{ color: red;}