#errorTip{
	position: absolute;
	width: 240px;
    min-height: 32px;
    background-color: #fff5e0;
    color: #ff4d4d;
    line-height: 24px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index:9999;
}