.selectCommon{
    position: relative;
    display: inline-block;
    float: left;
    width: 54px;
    height: 32px;
    margin-right: 15px;
}
.selectCommon input{width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    text-indent: 9px;
}
.selectCommon>i, .selectCommon b.arrowDown{
    position: absolute;
    top: 14px;
    right: 10px;
    width: 12px;
    height: 6px;
    display: inline-block;
    background: url(../../1/images/arrowDown.png) no-repeat top left;
    cursor: pointer;
}
.selectCommon b.arrowDown{
    top: 19px;
    left: 63px;
}
.selectCommon ul.selectUl,.selectCommon .textType ul{
    position: absolute;
    width: 54px;
    left: 0px;
    top: 33px;
    z-index: 9999;
    border: 1px solid #bdc6d5;
    border-radius: 0 0 5px 5px;
    background: #fff;
    max-height: 200px;
    overflow-y:auto;
}
.selectCommon .textType ul{
    left: 20px;
    width: 63px;
    top: 30px;
}
.selectCommon ul.selectUl li ,.selectCommon .textType ul li{
    text-indent: 10px;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    margin: 0;
    padding: 5px;
}
.selectCommon ul.selectUl li.selected,.selectCommon .textType ul li.selected{
    background: #1d8ce0;
    color: #fff;
}
.selectCommon ul.selectUl li:hover,.selectCommon .textType ul li:hover{background: #617084;color: #fff;}
.c-colorWrapper b{
    display: inline-block;
    width: 17px;
    height: 16px;
    z-index: 999;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
}
.selectCommon i.textIn{
   display: inline-block;
   width: 20px;
   background: url(../../component/imgs/T.png) no-repeat;
   height: 20px;
   position: absolute;
   top: 10px;
   left: 10px;
   cursor: pointer;
}
.selectCommon .textType button{
    background: #fff;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    padding: 5px 0;
    width: 64px;
    text-align: left;
    text-indent: 3px;
    outline: none;
}