.linkDemo{margin-left: 24px;}
.linkDemo li{margin-bottom: 20px;}
.shclickLi{cursor:pointer;background: #fff;}
.commonAddress i{position: absolute;
    top: 14px;
    right: 15px;
    width: 12px;
    height: 6px;
    background: url(../1/images/arrowDown.png) no-repeat top left;
    display: block;
    z-index: 12;
    cursor: pointer;}
 .commonAddress{position: relative;text-align: left;width: 260px;}
 .commonAddress span{display: inline-block;width: 85px;}
 .commonAddress input{padding: 0 5px;width: 150px;height: 32px;line-height: 32px;border-radius: 5px;border: 1px solid #c4c4c4;}
 .linkAddress input{cursor: auto;}
 ul.linkChoose{ position: absolute;width: 160px;left: 89px;top: 31px;z-index:99;border: 1px solid #bdc6d5;border-radius:0 0 5px 5px;background: #fff;}
 ul.linkChoose li{text-indent:10px;height:23px !important;;line-height:23px !important;;cursor:pointer;margin:0 !important;padding:5px;}
 ul.linkChoose li.selectedLi{background:#1d8ce0;color:#fff;}
 ul.linkChoose li:hover{background: #617084;color: #fff;}