.hotProductSet{padding:20px 40px;}
.hotProductSet .oneLine{height:30px;line-height:30px;}
.hotProductSet .oneLine ul,.companyProductSet .oneLine ul li{display: inline-block; height:30px;line-height:30px;}
.hotProductSet .oneLine b{margin-top:8px;}
.hotProductSet .oneLine.isShow{margin-top:20px;}
.hotProductSet .oneLine.isShow input{margin: 0 5px 0 30px;}
.hotProductSet .modelName{height:30px;line-height:30px; border: 1px solid #bdc6d5;border-radius:5px;margin-top:20px;text-indent:20px;}
.hotProductSet .modelName span{margin:0 25px 0 20px;}
.hotProductSet .modelName input{border:none;outline:none;}
.hotProductSet .productsPics ul{margin:10px 0 20px 20px;overflow:hidden;}
.hotProductSet .productsPics ul li{position:relative;float:left; width:29%;height:130px;display:inline-block;border: 1px solid #bdc6d5;margin-right:3.5%;margin-top:10px;}
.hotProductSet .productsPics ul li .addPicture{width:90%;margin:5px 5px 0 5px;height:95px;}
.hotProductSet .productsPics ul li .delectCha{position:absolute;top:0;right:0;width:20px;cursor:pointer;}
.hotProductSet .productsPics ul li span{position:absolute;top:100px;left:5px;width:90%;text-align:center;height:25px;line-height:25px;cursor:pointer; display:inline-block;background:#20a0ff;color:#fff;}
.hotProductSet .productsPics ul li.nodataPic .addPicture{height:132px;}
.hotProductSet .productsPics ul li.hasPics input{position:absolute;top:100px;left:5px;display:block;width:90%;height:25px;opacity:0;cursor:pointer;z-index:10;}
.hotProductSet .productsPics ul li.nodataPics input{position: absolute;top: 5px;left: 5px;width: 90%;height: 95px;}

.hotProductSet .oneLine{height: 30px;line-height: 30px;border: 1px solid #bdc6d5;border-radius:5px;}
.hotProductSet .oneLine.lunboStyle{margin-top: 20px;}
.hotProductSet .oneLine span{float: left;font-size:1rem;margin-left:20px;}
.hotProductSet .oneLine ul li{display:inline-block;}
.hotProductSet .oneLine b{float: left;height: 14px;width: 14px;background: #1d8ce0; border-radius: 50%;margin-top: 8px;margin-left: 30px;cursor:pointer;}
.hotProductSet .oneLine i{display: inline-block;width:6px;height: 6px;border-radius: 50%;float: left;margin-left: 4px;margin-top: 4px;}
.hotProductSet .oneLine ul li.selected i{background-color: #fff;}
.hotProductSet .oneLine em{font-style: normal;font-size: 1rem;margin-left: 10px;}
.hotProductSet .DivCommon{border:1px solid #bdc6d5;border-radius:5px;margin-top:20px;}
.hotProductSet .titleCommon{display:block;border-bottom:1px solid #bdc6d5;height:30px;line-height:30px;text-indent:20px;}

