div:before,div:after,ul:before,ul:after,li:before,li:after,p:before,p:after{
	content: "";
    display: table;
    clear: both;
}
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	font-size: 14px;
	background-color: #E5E5E5;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.dragBox_parent{
    position: absolute;
}
.dragBox_parent>.dragBox{
	padding: 6px 2px;
	min-width: 60px;
	min-height:16px;
	border:1px solid #ddd;
	border-radius: 4px;
}
.dragBox_parent>img,.dragBox_parent>*>img{
	width:100%;
	height:100%;
	padding: 0;
}
.dragBox:hover{
	background-color: rgba(58,126,194,.3);
}
.sizeControl {
    width: 8px;
    height: 8px;
    background: url(../imgs/hendles.png) no-repeat 50% 50%;
    position: absolute;
}
.tl,.br {
    cursor: nw-resize;
}
.tr,.bl {
    cursor: ne-resize;
}
.tm,.bm {
    cursor: n-resize;
}
.ml,.mr {
    cursor: e-resize;
}
.tl{ 
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}
.tm{
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.tr{
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}
.ml{
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}
.mr{
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}
.bl{
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(50%);
}
.bm{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}
.br{
    bottom: 0;
    right: 0;
    transform: translateX(50%) translateY(50%);
}
.rotateControl-icon, .rotateControl-point, .rotateControl-relative, .rotateControl-tip {
    position: absolute;
    right: -25px;
    top: -25px;
    width: 23px;
    height: 23px;
    background: url(../imgs/rotate-sprite.png) no-repeat -2px -8px;
    cursor: pointer;
}
.drag{
	position: absolute;
	width:120px;
	padding: 12px 4px;
	text-align: center;
}
/***template**/
.navbar-inner{
	background: #252626;
	height:62px;
	position: relative;
	z-index: 10;
}
.nav-center{
	padding: 0 10px;
}
.navi-btn{
	height:62px;
	width:108px;
	text-align: center;
	line-height: 62px;
	color:#bfbfbf;
}
.new-icons-page {
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(../imgs/new_navbar_header.png) no-repeat -19px -88px;
    vertical-align: sub;
    margin-right: 3px;
}
.new-icons-tpl {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../imgs/new_navbar_header.png) no-repeat -182px -52px;
    vertical-align: text-bottom;
}
.new-icons-add {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../imgs/new_navbar_header.png) no-repeat -204px -51px;
    vertical-align: text-bottom;
}
.navi-btn.active {
    background: #f7f7f7;
    color: #000;
    border: none;
    box-shadow: none;
}
.navi-btn.active .new-icons-add {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../imgs/new_navbar_header.png) no-repeat -309px -50px;
    vertical-align: text-bottom;
}
.navi-btn.active .new-icons-tpl {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../imgs/new_navbar_header.png) no-repeat -283px -50px;
    vertical-align: text-bottom;
}
.navi-btn.active .new-icons-page {
    display: inline-block;
    width: 15px;
    height: 16px;
    background: url(../imgs/new_navbar_header.png) no-repeat -49px -87px;
    vertical-align: sub;
    margin-right: 5px;
}
.navi-btn-dropdown{
	background: #f7f7f7;
	width:314px;
	margin-left:19px;
	margin-top:-2px;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.ext-items{
	width: 55px;
    height: 55px;
    line-height: 55px;
    border: 1px solid #DDDDDD;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.ext-app ul{
	margin-top: 20px;
    margin-left: 6px;
}
.ext-app li{
	text-decoration: none;
    display: inline-block;
    width: 55px;
    padding: 0 8px !important;
    margin: 0px !important;
    float: left;
    height: 90px;
}
.ext-items i {
    width: 50px;
    height: 50px;
    margin-top: 3px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(http\3A \2F \2F fl\2E cdn\2E qq\2E com\2F transition\2F 40\2F 2000002940\2F 148\2F 90044165516791218919077240\2E png);
}
.ext-app ul li p{
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
    color: #333333;
}
.ext-items:hover{
	border-color: #05c29c;
}
/**setting***/
.setting-panel{
	position: fixed;
    top: 63px;
    right: 0;
    background: #f2f2f2;
    display: none;
}
.setting-panel-switch{
	display: block;
    position: absolute;
    background: #ccc;
    width: 30px;
    height: 30px;
    top: 11px;
    right: 0;
    cursor: pointer;
    background: url(http://appmedia.qq.com/media/zhan/panel/icon_open_close.png) no-repeat;
    z-index: 1000;
}
.setting-panel .setting-panel-title {
    height: 54px;
    font-size: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.setting-panel .setting-panel-title .inner-title {
    padding: 0 20px;
    color: #06c29c;
    border-bottom: 1px solid #06c29c;
    display: inline-block;
    height: 53px;
    line-height: 53px;
}
.setting-panel .setting-panel-content {
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 0 10px 10px 10px; */
    position: relative;
    width: 300px;
    height: 539px;
}
.DialogWindow .innerDialog {
    padding: 30px 0 22px 0;
    height: auto;
    /* width: 232px; */
    /* width: 249px; */
    width: 259px;
    margin: 0 auto;
}
.innerDialog .help {
    background: url(../imgs/new_tips_icon.png) no-repeat scroll 0 1px transparent;
    cursor: pointer;
    height: 22px;
    width: 22px;
}
.DialogWindow .innerDialog {
    padding: 30px 0 22px 0;
    height: auto;
    /* width: 232px; */
    /* width: 249px; */
    width: 259px;
    margin: 0 auto;
}
.DialogWindow .advanceskin-content {
    font-size: 12px;
}
.DialogWindow .skin-gallery {
    margin: 10px 0 10px;
    position: relative;
}
.DialogWindow .prevButton.no {
    background-position: 0 -32px;
    cursor: default;
}
.DialogWindow .prevButton {
    background: url(../imgs/arrow_left.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    left: 50%;
    margin-left: -30px;
    margin-top: 8px;
    position: absolute;
    top: 100%;
    width: 16px;
    display: none;
}
.DialogWindow .groupSkin-content {
    margin-bottom: 6px;
    /* padding: 0 10px; */
    position: relative;
    border: 0;
}
.DialogWindow .colorSelectorWrapper {
    /* height: 30px; */
    min-width: 80px;
    position: relative;
    margin-bottom: 10px;
}
.skin-label {
    position: relative;
    margin: 0;
}
.skin-label {
    top: 0%;
    width: 60px;
    height: 37px;
    margin-right: 8px !important;
    float: left;
    margin-left: 12px;
}
.select {
    padding-bottom: 6px;
}
.select select {
    font-size: 14px;
    width: 159px;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    margin: 0;
    border: 0;
    /* background: #ececec; */
    border: 1px solid #c7c7c7;
    color: #959595;
    -webkit-appearance: none;
    background: white url(../imgs/select_arrow.png) no-repeat right center;
}
.c-colorWrapper {
    width: 70px;
    /* height: 26px; */
    position: relative;
    display: inline-block;
}
.styleSetting .c-colorWrapper {
    margin-top: -13px;
    float: right;
    top: 50%;
    position: relative;
    right: -3px;
}
.c-opacityBg {
    background: url(../imgs/transparency.gif) repeat scroll 0 0 transparent;
    /* height: 20px; */
    /* margin: 3px 0 0 3px; */
    /* width: 46px; */
    width: 52px;
    height: 38px;
    float: none;
    border-radius: 3px;
}
.fieldSkin-color {
    height: 18px;
    left: 5px;
    margin: 3px 0 0 3px;
    position: absolute;
    top: 7px;
    width: 18px;
    /* border-radius: 4px; */
}
.skin-colorSelector {
    background: url(../imgs/olor_input.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 54px;
    border-radius: 3px;
}
.select select {
    font-size: 14px;
    width: 159px;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    margin: 0;
    border: 0;
    /* background: #ececec; */
    border: 1px solid #c7c7c7;
    color: #959595;
    -webkit-appearance: none;
    background: white url(../imgs/select_arrow.png) no-repeat right center;
}
#border_type_select {
    margin-left: -10px;
}
.DialogWindow .colorSelectorWrapper {
    /* height: 30px; */
    min-width: 80px;
    position: relative;
    margin-bottom: 10px;
}
.styleSetting .c-colorWrapper {
    margin-top: -13px;
    float: right;
    top: 50%;
    position: relative;
    right: -3px;
}
.c-colorWrapper {
    width: 70px;
    /* height: 26px; */
    position: relative;
    display: inline-block;
}
.c-opacityBg {
    background: url(../imgs/transparency.gif) repeat scroll 0 0 transparent;
    /* height: 20px; */
    /* margin: 3px 0 0 3px; */
    /* width: 46px; */
    width: 52px;
    height: 38px;
    float: none;
    border-radius: 3px;
}
.fieldSkin-color {
    height: 18px;
    left: 5px;
    margin: 3px 0 0 3px;
    position: absolute;
    top: 7px;
    width: 18px;
    /* border-radius: 4px; */
}
.DialogWindow .label_slide {
    float: left;
}
.skin-colorSelector {
    background: url(../imgs/color_input.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 54px;
    border-radius: 3px;
}
.DialogWindow .ui-widget-content {
    border-width: 0px!important;
}
.DialogWindow .sliderContainer_2 {
    margin: 0 46px 0 85px;
    position: absolute;
    width: 130px;
    top: -2px;
}
.DialogWindow .sliderContainer {
    background: url(../imgs/slider_green.png) repeat-x scroll left center transparent;
    height: 26px;
    margin: 0 46px 0 5px;
    position: relative;
}
.progress{
	float: left;
	height:4px;
}
.progress p{
	width:160px;
	height:4px;
	line-height: 4px;
	border-radius: 4px;
	position: relative;
	top:2px;
	display: inline-block;
	background-color: #cccccc;
}
.progress b{
	display: inline-block;
	height:100%;
	border-radius: 4px;
	position: relative;
	top:-4px;
	background-color: #06c29c;
}
.label_slide,.skin-label{
	font-size: 14px;
}
.opacity{
	width:120px;
}
.label_slide{
	display: inline-block;
	width:80px;
	float: left;
	margin-left: 12px;
}
.progress-circle{
	background: url(../imgs/slider_circle.png) no-repeat;
	display: inline-block;
	width:8px;
	height:8px;
	background-size: 100% 100%;
	position: relative;
	right: 0px;
    top: -2px;
    cursor: pointer;
}
.mobile-container .mobile-container-content {
     border: 1px solid rgba(0,0,0,0); 
     width: 318px; 
     height: inherit; 
     background: #fff; 
}
.VACT_main_page_index_box{
	min-height: 468px;
	background-color: #fff;
}